@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
*{
    font-family: 'Protest Strike', sans-serif;
    font-weight: 400;
    color: #192a51;;
    font-size: 20px;
    display: flexbox;
    
}

.editnav{
    background-image: url(../img/space-5654794_1280.png);

}
body, main{
    min-height: 100vh;
    background-image: url(../img/space-5654794_1280.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -80px; 
    
}
h1 {
    font-weight: bold;
    text-align: center;
    font-size: 60px;

    

}
h1 span{
    font-size: 30%;
    font-weight: 300;

}
h2{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.nosotros{
    width: 100%;
    margin: 60px;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nleft{
    width: 40%;
    min-height: 250px;
    background-image: url(../img/technology-1283624_1280\ \(1\).jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.nright{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.459);
    padding: 20px;
    margin-bottom: 60px;
}

.servicio{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.card{
    margin:15px;
}
@media only screen and (min-width:300px) and (max-width: 480px){
    .nosotros{
        display: grid;
        grid-template-columns: 1fr;
    }
    .nleft{
        width: 100%;
    }

    .nright{
        width: 100%;
    }

    .servicio{
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media only screen and (min-width:480px) and (max-width: 1023px){
    .servicio{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
        gap: 10px;
    }
    .card{
        margin: 5px;
    }
}


p {
    text-align: center;
}


footer{
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: auto;

}
footer p{
    font-size: 20px;
}
footer .redes i{
    color: #967aa1;
    font-size: 35px;
    letter-spacing: 25px;    
}

footer a{
    text-decoration: none;
}

footer a i:hover{
    color: #192a51;
}

