$color-texto: #192a51;
$color-pricipal: #967aa1;
$color-secundario: #f5e6e8;
$color-alternativo: #aaa1c8;
$color-alternativo2: #d5c6e0;
$color-bg-texto:rgba(133, 47, 107, 0.4784313725);
$color-bg-contenedor:rgba(255, 255, 255, 0.459);